<!DOCTYPE html>
<html>
<body style="background-color: rgb(189, 186, 186);">

<h1 style="color: rgb(12, 12, 12);"><b>News Channels Live!!!</b></h1>

<p><h2>Polimer News</h2><a href="https://www.youtube.com/watch?v=yhZXTuTFXx0">Polimer News live!</a>
  <h2>Thanthi News</h2><a href="https://www.yupptv.com/channels/thanthi-tv/live">Thanthi News live!</a>
  <h2>Puthiyathalaimurai News</h2><a href="https://www.youtube.com/watch?v=RUzgphgBRzI">Puthiyathalaimurai News live!</a>
  <h2>Sun News</h2><a href="https://www.youtube.com/watch?v=9M02G5c6x6w">Sun News live!</a>
  <h2>News18</h2><a href="https://www.youtube.com/watch?v=lnHtG9YLqo4">News18 live!</a>
  <h2>Captain News</h2><a href="https://www.yupptv.com/channels/captain-news/live">Captain News live!</a>
</p>
</body>
</html>